@font-face {
  font-family: "Mont Heavy DEMO";
  src: url("contents/Mont_Heavy_DEMO/Mont-HeavyDEMO.eot") format("eot"), url("contents/Mont_Heavy_DEMO/Mont-HeavyDEMO.woff") format("woff"), url("contents/Mont_Heavy_DEMO/Mont-HeavyDEMO.ttf") format("truetype"), url("contents/Mont_Heavy_DEMO/Mont-HeavyDEMO.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  background-color: black;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
}

.background {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

.background::before {
  background-image: url("https://images.unsplash.com/photo-1568781269551-3e3baf5ec909?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  content: '';
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  will-change: transform;
  z-index: -1;
}

h1 {
  color: #FFF;
  text-align: center;
  font-family: 'Mont Heavy DEMO';
  font-size: 5rem;
  margin-bottom: 8rem;
  margin-top: 1rem;
}

h2 {
  color: #b6b6b6;
  text-align: center;
  font-family: 'Montserrat', 'sans serif';
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.container {
  background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(80%, black), color-stop(90%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, black 0%, black 80%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
  margin-top: 5rem;
}

.container .face {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 17rem;
  height: 17rem;
}

.container .cross {
  margin-top: 3rem;
  margin-bottom: 4rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 11.5rem;
  height: 10rem;
}

.container .text {
  margin-left: 10rem;
  margin-right: 10rem;
}

.container h1 {
  color: #FFF;
  text-align: left;
  font-family: 'Mont Heavy DEMO';
  font-size: 3rem;
  margin-left: 7rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.container p {
  color: white;
  text-align: left;
  font-family: 'Montserrat', 'sans serif';
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.container p2 {
  color: #c90505;
  text-align: left;
  font-family: 'Mont Heavy DEMO';
  font-size: 1.3rem;
}

.container p3 {
  color: rgba(255, 255, 255, 0.705);
  text-align: right;
  font-family: 'Montserrat', 'sans serif';
  font-weight: 600;
  font-size: 0.6rem;
  margin-right: 3rem;
  margin-bottom: 0.4rem;
}

.button-group {
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 3rem;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  margin: 0 auto;
  margin-top: 1rem;
  width: 30rem;
  height: 4rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 0px;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.18);
  border-left: 0.1rem solid rgba(255, 255, 255, 0.18);
  border-radius: 1rem;
  -webkit-box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.15);
  background: rgba(255, 255, 255, 0.075);
  -webkit-backdrop-filter: blur(3px) saturate(110%);
          backdrop-filter: blur(3px) saturate(110%);
}

button, button span {
  transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
}

button .text {
  transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  margin: auto;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: 4px;
}

button .icon {
  position: absolute;
  -webkit-transform: translateX(0rem);
          transform: translateX(0rem);
  height: 4rem;
  width: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button svg {
  width: 1.5rem;
  fill: white;
}

.youtube:hover {
  background: #FF0000;
}

.spotify:hover {
  background: #1DB954;
}

.deezer:hover {
  background: linear-gradient(45deg, #ff0000, #ffed00, #ff0092, #c2ff00, #00c7f2, #c1f1fc);
}

.apple-music:hover {
  background: #f94c57;
}

.youtube-music:hover {
  background: #FF0000;
}

.tidal:hover {
  background: #000000;
}

.amazon-music:hover {
  background: #0DBFF5;
}

button:hover .text {
  color: transparent;
}

button:hover .icon {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 30rem;
  -webkit-transform: translateX(14.4rem);
          transform: translateX(14.4rem);
}

button:focus {
  outline: none;
}
/*# sourceMappingURL=index.css.map */